.search-results {
  margin-left:10%;
  margin-right:10%;
}

.home-icon {
  position:absolute;
  top:35px;
  left:5%;
  width:40px;
  height:40px;
  cursor:pointer;
}
.page-title {
  font-size:42px;
  margin-top:28px;
  margin-bottom:16px;
  color:#007fff;
  text-align:left;
}
.page-details {
  display:grid;
  margin-left:3px;
  margin-bottom:8px;
  grid-template-columns:1fr 1fr;
}

.result-details {
  border:2px solid;
  padding-left:2%;
  padding-right:2%;
}
.result-item {
  margin-bottom:2.5%;
  background-color:aliceblue;
  padding-left:2%;
  padding-right:2%;
  font-family: Consolas, system-ui;
}
h3 {
  font-family: system-ui;
  color:#228B22;
}

.page-controls {
  margin-top:2%;
  margin-bottom:2%;
  text-align:right;
}
.page-controls img {
  width:36px;
  height:36px;
  margin-left:2%;
  cursor:pointer;
}