.page {
  text-align:center;
}

.logo{
  margin-top:148px;
  margin-bottom:20px;
}
.mainHeader {
  font-size:88px;
  color:#007fff;
}

.searchBox{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.searchBox:hover{
  box-shadow:1px 1px 8px 1px #dcdcdc;
}
.searchBox:focus-within{
  box-shadow:1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchBar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline:none;
}
.searchButton{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
  cursor:pointer;
}

.buttons{
  margin-top:30px;
}
.button{
  background-color:#f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding:10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border:1px solid #c8c8c8;
  padding:9px 19px;
  color:#808080;
  cursor:pointer;
}
.button:focus{
  border:1px solid #4885ed;
  padding:9px 19px;
}